.slideshow-container {
  position: relative;
  margin: auto;
}

.my-slides {
  display: none;
  animation-name: fade;
  animation-duration: 1.5s;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--active-color);
}

.dot {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 6px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0px 0px 2px 1px var(--shadow-color);
  transition: background-color 0.6s ease;
}

.active {
    display: block;
}

.dot:hover {
  background-color: var(--active-color) !important;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
